<div class="row">
<div *ngIf="identity" class=" nav-global col-lg-1">
  <div class="nav-menu">
  <h1 class="head-title">
  	<a routerLink="/" [matMenuTriggerFor]="menu">
  		<fa-icon [icon]="[fas,'store']" aria-hidden="true" ></fa-icon>
    	{{title}}
    </a>
  </h1>
  </div>
  <mat-menu class="navigation" #menu="matMenu">
  <nav >
  <a href="#">
  	<!-- ['fas', 'coffee'] is an array that indicates the [prefix, iconName] -->
  	<fa-icon [icon]="[fas,'search']" aria-hidden="true" ></fa-icon>
  	Buscar
  </a>
  <a routerLink="/menu-category" routerLinkActive="active-link">
  	<fa-icon icon="layer-group" aria-hidden="true" ></fa-icon>
  	<!-- ['fas', 'coffee'] is an array that indicates the [prefix, iconName] -->
  	Categorias
  </a>
  <a href="#">
  	<fa-icon icon="parachute-box" aria-hidden="true"></fa-icon>
  	<!-- ['fas', 'coffee'] is an array that indicates the [prefix, iconName] -->
  	Productos
  </a>    
  <div id="user_logged">
  	<div class="user-image" *ngIf="identity.image && identity.image != 'null'">
  		<img id="image-logged" src="{{url+'get-image-file/'+identity.image}}">
  	</div>
   <span id="identity_name">{{identity.name}} </span>
  <br/>
  <a routerLink="/mis-datos" routerLinkActive="active-link">
  	<!-- ['fas', 'coffee'] is an array that indicates the [prefix, iconName] -->
  	<fa-icon [icon]="[fas,'cog']" aria-hidden="true"></fa-icon>
  	Mis datos
  </a>
  <a (click)="logout()">
  	<!-- ['fas', 'coffee'] is an array that indicates the [prefix, iconName] -->
  	<fa-icon class="icon-logout" [icon]="[fas,'sign-out-alt']" aria-hidden="true"></fa-icon>
  	Salir
  </a>
</div>
  </nav>
</mat-menu>  


</div>
</div>

<div *ngIf="identity" class="row">
<div  class="central col-lg-12">
  <router-outlet></router-outlet>
</div>
</div>

<div class="col-lg-11" *ngIf="!identity">
  <mat-tab-group>
  <div class="row">
  <mat-tab mat-button label="Login">
  <div class="col-lg-6" >
    <h1>Identificate</h1>
    <div *ngIf="errorMessage">
    	<div class="alert alert-warning" role="alert">
    		<strong> Error: </strong>{{errorMessage}}
    	</div>      
    </div>
    <form #loginForm="ngForm" (ngSubmit)="onSubmit()" class="form-signin"  ngNativeValidate>
      <p>
        <mat-form-field class="full-width">
             <input matInput placeholder="Correo electrónico" #email="ngModel" [(ngModel)]="user.email" name="email" class="form-control" required>
             </mat-form-field>
        <span *ngIf="!email.valid && email.touched">
          El email es obligatorio
        </span>
      </p>
      <p>
        <mat-form-field class="full-width">
           <input matInput placeholder="Contraseña" #password="ngModel" [(ngModel)]="user.password "type="password" name="password" class="form-control" required>
         </mat-form-field>
      </p>
        <input type="submit" value="Entrar" class="btn btn-primary"/>
    </form>
  </div>
  </mat-tab>  
    <mat-tab mat-button label="Register">
  <div class="col-lg-6" >
    <h1>Registrate</h1>
    <div *ngIf="alertRegister">
    	<div class="alert alert-info" role="alert">
    		{{alertRegister}}
    	</div>      
    </div>
    <form #registerForm="ngForm" (ngSubmit)="onSubmitRegister()" class="col-md-10 form-signin"  ngNativeValidate>
      <p>
        <label>Nombre:</label>
        <input type="text" #name="ngModel" name="name" [(ngModel)]="user_register.name" class="form-control" required/>
        <span *ngIf="!name.valid && name.touched">
        	El nombre es obligatorio
        </span>
      </p>
      <p>
        <label>Nit Tienda(o Doc de Identidad):</label>
        <input type="text" #nit="ngModel" name="nit" [(ngModel)]="user_register.nit" class="form-control" required/>
         <span *ngIf="!nit.valid && nit.touched">
        	El campo es obligatorio
        </span>
      </p>
      <p>
        <label> Correo electrónico</label>
        <input type="text" #email="ngModel" name="email" [(ngModel)]="user_register.email" class="form-control" required/>
        <span *ngIf="!email.valid && email.touched">
          El email es obligatorio
        </span> 
      </p>
      <p>
        <label> Contraseña</label>
        <input type="password" #password="ngModel" name="password" [(ngModel)]="user_register.password" class="form-control" required/>
        <span *ngIf="!password.valid && password.touched">
          La contraseña es obligatoria
        </span>
      </p>
        <input type="submit" value="Registrarse" class="btn btn-primary"/>
    </form>
  </div>
 </mat-tab>
</div>
</mat-tab-group>
</div>
