<div *ngIf="identity">
<div class="head-page">
	<h1>{{titulo}}</h1>
	<a routerLink="/add-category" *ngIf="identity.role =='ROLE_ADMIN'" class="btn btn-info">
		Añadir Categoria
	</a>
</div>

<div class="clearfix"></div>
	<ul class="category-list" *ngIf="identity">
<!-- 		<li *ngFor="let category of categories" class="col-lg-3 category-item">
			{{category.name}}
		</li> -->
		<a class="btn btn-info btn-md" (click)="navService.openNav()" role="button" >Ver Categorías</a>

	</ul>

<div class="row">
	
	<div >	
		<mat-sidenav-container [hasBackdrop]="true">
			<mat-sidenav #appDrawer mode="side"  opened="false">
				<mat-nav-list>
					<menu-item *ngFor="let item of categories" [item]="item" (get-leaf)="onGetLeaf($event)"></menu-item> 
				</mat-nav-list>
			</mat-sidenav>

		</mat-sidenav-container>
	</div>
	<div class="col-lg-8" *ngIf="itemselected">

					<product-list [sublevelnotchild]="itemselected"></product-list> 
	</div>	
</div>
</div>	