<div class="head-page" *ngIf="identity">
	<h1>{{titulo}}</h1>
	<a routerLink="/add-category" *ngIf="identity.role =='ROLE_ADMIN'" class="btn btn-info">
		Añadir Categoria
	</a>
</div>

<div class="clearfix"></div>
	<ul class="category-list" *ngIf="identity">
<!-- 		<li *ngFor="let category of categories" class="col-lg-3 category-item">
			{{category.name}}
		</li> -->
		<a class="btn btn-info btn-md" (click)="navService.openNav()" role="button" >Ver Categorías</a>

	</ul>

	<div *ngIf="identity">	
		<mat-sidenav-container >
			<mat-sidenav #appDrawer mode="over" opened="false">
				<mat-nav-list>
					<menu-item *ngFor="let item of categories" [item]="item"></menu-item> 
				</mat-nav-list>
			</mat-sidenav>

		</mat-sidenav-container>
	</div>