<div class="col-lg-6" *ngIf="identity">
	<h1>{{titulo}}</h1>
	<div class="col-lg-6" *ngIf="alertMessage">
		<div class="alert alert-info" role="alert">
			{{alertMessage}}
		</div>      
	</div>
	<form #userUpdateForm="ngForm" (ngSubmit)="onSubmit()" class="col-md-10">
		<p>
			<label>Nombre:</label>
			<input type="text" #name="ngModel" name="name" [(ngModel)]="user.name" class="form-control" required/>
			<span *ngIf="!name.valid && name.touched">
				El nombre es obligatorio
			</span>
		</p>
		<p>
			<label>Nit Tienda(o Doc de Identidad):</label>
			<input type="text" #nit="ngModel" name="nit" [(ngModel)]="user.nit" class="form-control" required/>
			<span *ngIf="!nit.valid && nit.touched">
				El campo es obligatorio
			</span>
		</p>
		<p>
			<label> Correo electrónico</label>
			<input type="text" #email="ngModel" name="email" [(ngModel)]="user.email" class="form-control" required/>
			<span *ngIf="!email.valid && email.touched">
				El email es obligatorio
			</span> 
		</p>
		<div class="user_image" *ngIf="user.image && user.image != 'null'">
			<img src="{{url+'get-image-file/'+user.image}}">
		</div>
		<p>
			<label> Subir Foto:</label>
			<input type="file" placeholder="Subir Imagen ..." (change)="fileChangeEvent($event)"/>
		</p>
		<input type="submit" value="Actualizar Info" class="btn btn-primary"/>
	</form>

</div>