/* You can add global styles to this file, and also import other style files */

@import './app/app.component';



.active-link{
	border-bottom: 4px solid #f5ebeb;
	padding-bottom: 4px;
}

.head-title{
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 25px;
	display: block;
}

$backgroundnav: #1C1C1F;

.navigation{
	text-align: center;
	color: white;
	background: $backgroundnav;
	height: -webkit-fill-available;

	a{
		color:#ddd;
		margin-top:20px;
		margin-bottom: 20px;
		display: block;
		text-decoration: none;
		&:hover{
			color:white;
		}		
	}
	fa-icon{
		font-size: 25px;
		display: block;
		width:100%;

	}



}

#user_logged{
	background: $backgroundnav;
	position: absolute;
	bottom: 0px;
	border-top: 1px solid #444 ;
	width: 75%;
	.icon-logout{
		font-size: 16px;
		cursor:pointer;
	}
	.user-image{
		background: #eee;
		border-radius: 100px;
		height: 57px;
		width: 57px;
		margin: 0px auto;
		margin-top: 15px;
		overflow: hidden;
		img{
			width:57px;
		}
	}

}
